#landPage {
  display: flex;
  justify-content: space-between;
  background-image: url("images/swoosh-bg.png");
  color: white;
}
section {
  padding: 80px;
  background-color: #00e5d1;
}
.middle {
  padding: 50px;
}
.bottom {
  padding: 25px;
  padding-bottom: 0px;
  height: 100px;
  width: 200px;
}
.one {
  width: 75%;
  height: 50%;
}
footer {
  padding: 25px;
}
.resized {
  padding: 10%;
  width: 690px;
  height: 690px;
  overflow: hidden;
}

#first {
  padding: 10%;
}
