.landPage {
  display: flex;
  justify-content: space-between;
  background-image: url("images/swoosh-bg.png");
  color: white;
}

h1 {
  text-align: center;
}
.item {
  display: flex;
  justify-content: space-evenly;
}
.info {
  background-color: #4ce0b3;
  color: white;
}
button {
  display: flex;
  align-content: center;
}
.bottomSection {
  display: flex;
  justify-content: column;
}
