/* Element-specific CSS selectors */

h1 {
  padding: 2%;
  font-weight: bold;
}

/* Welcome banner */

#welcome-banner {
  background-image: url("../images/swoosh-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.welcome-banner-logo-img {
  width: 75%;
}

.welcome-banner-text {
  padding: 24%;
  color: white;
}

/* Hide the iPhone screenshot on mobile devices */

@media only screen and (max-width: 800px) {
  .welcome-banner-text {
    padding: 12%;
  }

  .welcome-banner-iphone-img-container {
    display: none;
  }
}

/* Post section */

.post-tile {
  padding: 2%;
}

.post-tile-title {
  padding: 2%;
}

.post-tile-img {
  padding: 2%;
}

.post-description {
  padding: 2%;
}

/* Questions section */

#questions-section {
  padding: 80px 0px 80px 0px;
  background-color: #00e5d1;
}
.questions-section-text {
  color: white;
}

.questions-button {
  border-radius: 20px;
}

.unstyled-link {
  text-decoration: none;
  color: inherit;
}

.unstyled-link:hover {
  text-decoration: none;
  color: inherit;
}

/* Post */

#more-post-button {
  margin: 2%;
  border-radius: 20px;
  background-color: #ec476f;
}

/* Copyright section */

#copyright-img {
  padding: 16px;
  width: 200px;
}
